Host github.com *.github.com
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa
	UseKeychain yes


Host gitlab.com *.gitlab.com
	HostName gitlab.com
	User git
	IdentityFile ~/.ssh/id_rsa
	UseKeychain yes